.img1
    height: 90vh
    background-image: url(../img/slider.jpg)
    background-size: cover
.paragraph1
    width: 50% !important
.sec2
    display: flex
    justify-content: center
    text-align: center
    align-items: center
    flex-direction: column
    h2
        width: 40%
    p
        width: 50%
.icons
    display: flex
    justify-content: space-around
    padding: 5%
    .icon-border
        display: flex
        justify-content: center
        align-items: center
        border: solid 1px 
        border-radius: 50%
        width: 100px
        height: 100px
        font-size: 3vw
.icons-parts
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    justify-content: center
    padding: 1vw
